.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
.main{
    margin-left: 20px;
}

#error{
  color: red;
  font-size: small;
}

.input_btn{
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#btn{
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e60ea;
    margin-left: 10px;
  
}

h1 {
  margin-bottom: 20px; 
}

.to-do-container {
  background: rgb(41, 33, 33);
  width: 700px;
  height: 600px;
  margin-top: 20px;
  margin: 0 auto;
  border: 2px solid #050505;
  padding: 20px;
  color: white;
  border-radius: 15px;
}
.edit-btn, .delete-btn {
  float: right;
  color:crimson;
  cursor: pointer;
  margin: 3px 5px;
  border: none;
  padding: 3px 5px;
  background: none;
} 

.input-container {
  display: flex;
  margin-left: 5px;
  float: left;
  gap: 8px; 
}
input{
  margin-bottom: 10px;
}

#label {
  font-size: 16px; 
  float: left;
  color: white; 
}

.label {
  font-size: 16px; 
  color: white; 
}


